h1 {
    color:aquamarine ;
font-family: "Apple Braille";
}

h2 {color: blueviolet;
    font-family: "Apple Braille";
}

h3 {font-size: xxx-large;
    font-family: "Apple Braille";
}

p1 {font-family: "Apple Braille";
}
